
<h1>Add franchises</h1>

<form action="/franchises/add" method="POST">
	<div class="">
		<label for="">Franchises</label>

		<select class="" name="province_id">
			{{#status_type}}
				<option value="{{id}}">{{status_type}}</option>
			{{/status_type}}
		</select>
	</div>
	<div>
		<label for="">province_name</label>
		<input type="text" name="province_name" value="{{province_name}}">
	</div>

	<div>
		<label for="">contact_details</label>
		<input type="text" name="contact_details" value="{{contact_details}}">
	</div>

	<div>
		<label for="">branch</label>
		<input type="text" step="any" name="branch" value="{{branch}}">
	</div>

	<input type="submit">
</form>
