<h1>Edit client</h1>

<form action="/clients/update/{{data.id}}" method="POST">
	<div class="">
		<label for="">Provinces</label>

	
		<select class="" name="province_id">
			{{#provinces}}
				<option {{selected}} value="{{id}}">{{province_name}}</option>
			{{/provinces}}
		</select>
	</div>
	<div class="">
		<label for="">province_name</label>
		<input type="text" name="contact_details" value="{{data.province_name}}">
	</div>
		<div class="">
		<label for="">contact_details</label>
		<input type="text" name="contact_details" value="{{data.contact_details}}">
	</div>
	<div class="field">
		<label for="">branch</label>
		<input type="text" name="branch" value="{{data.branch}}">
	</div>
    <div class="field">
		<label for="">email_address</label>
		<input type="text" name="email_address" value="{{data.email_address}}">
	</div>
    <div class="field">
		<label for="">postal_code</label>
		<input type="text" name="postal_code" value="{{data.postal_code}}">
	</div>
      <div class="field">
		<label for="">business_tell</label>
		<input type="text" name="business_tell" value="{{data.business_tell}}">
	</div>
    	</div>
      <div class="field">
		<label for="">cell</label>
		<input type="text" name="cell" value="{{data.cell}}">
	</div>
     <div class="field">
		<label for="">status</label>
		<input type="text" name="status" value="{{data.status}}">
	</div>
	</div>
	</form>
