<h1>Franchises</h1>
<div>
    <a href="/client/update">Update</a>
    <a href="/client/add">Add</a>
    <a href="/client/update">Edit</a>
    <a href="/client/edit/{{id}}">Delete</a> 

  <div class="row select"id="filt">
    <div class="col-md-12">
      
      <select id="Select" name="status" onchange="selectStatus(this.value)">
        <option name="status" value="all">Status</option>
        {{#each status}}
        <option name="status" value="{{initials}}">{{status_id}}</option>
        {{/each}}  
      </select>
      {{!-- <a href="/reset"><button type="button"class="btn btn-danger btn-lg"id="move">RESET</button></a> --}}
    </div>
  </div>
  
  <div class="row">
    <div class="displayStatus">
        {{#each clients}}
         <div class="display">
          {{client}}
          </div>
        {{/each}}
    </div>
  </div>
  </div>

<script>
  function selectTown(value) {
    location.href = '/filter/' + value;
  }
</script>
 
<table>
  <tr>
    <th>province_name</th>
    <th>Contact Details</th>
    <th>Branch</th>
    <th>Address</th>
    <th>Email Address</th>
    <th>Postal Code</th>
    <th>Business Tell</th>
    <th>Cell</th>
    <th></th>
  </tr>
  {{#client}}
  <tr>
    <td>
      {{province_name}}
    </td>
    <td>
      {{contact_details}}
    </td>
    
    <td>
      {{branch}}
    </td>
    <td>
      {{address}}
    </td>
    <td>
      {{email_address}}
    </td>
       <td>
      {{postal_code}}
    </td>
    
    <td>
      {{business_tell}}
    </td>
    <td>
      {{cell}}
    </td>
     
    {{/client}}
  </tr>
</table>

{{#no_client}}
<p>add clients above.</p>
{{/no_client}}