<h1>Franchises</h1>

<a href="/client/add">Add</a>
<a href="/client/update">Update</a>

 <a href="/client/edit/{{id}}">Edit</a>
<a href="/client/edit/{{id}}">Active</a>
<a href="/client/delete/{{id}}">inactive</a>
<a href="/client/edit/{{id}}">pending</a>
<a href="/client/delete/{{id}}">cancelled</a>
<a href="/client/delete/{{id}}">Delete</a>

<table>
  <tr>
    <th>Contact Details</th>
    <th>Branch</th>
    <th>Address</th>
    <th>Email Address</th>
    <th>Postal Code</th>
    <th>Business Tell</th>
    <th>Cell</th>
    <th>Status</th>
    <th></th>
  </tr>
  {{#client}}
  <tr>
    <td>
      {{contact_details}}
    </td>
    
    <td>
      {{branch}}
    </td>
    <td>
      {{address}}
    </td>
    <td>
      {{email_address}}
    </td>
       <td>
      {{postal_code}}
    </td>
    
    <td>
      {{business_tell}}
    </td>
    <td>
      {{cell}}
    </td>
     <td>
      {{status}}
    </td>

    {{/client}}
  </tr>
</table>

{{#no_client}}
<p>add clients above.</p>
{{/no_client}}