<h1>clients</h1>

<a href="/client/add">Add</a>

<table>
  <tr>
    <th>contact_details</th>
    <th>branch</th>
    <th>branch</th>
    <th>email_address</th>
    <th>postal_code</th>
    <th>business_tell</th>
    <th>cell</th>
    <th>status</th>
    <th></th>
  </tr>
  {{#client}}
  <tr>
    <td>
      {{contact_details}}
    </td>
    
    <td>
      {{branch}}
    </td>
    <td>
      {{email_address}}
    </td>
       <td>
      {{postal_code}}
    </td>
    
    <td>
      {{business_tell}}
    </td>
    <td>
      {{cell}}
    </td>
     <td>
      {{status}}
    </td>
    <td>
      <a href="/client/edit/{{id}}">Edit</a>
      <a href="/client/delete/{{id}}">Delete</a>
      <a href="/client/edit/{{id}}">Active</a>
      <a href="/client/delete/{{id}}">inactive</a>
      <a href="/client/edit/{{id}}">pending</a>
      <a href="/client/delete/{{id}}">cancelled</a>
    </td>
    {{/client}}
  </tr>
</table>

{{#no_client}}
<p>add clients above.</p>
{{/no_client}}