<h1>Add Client</h1>

<form action="/clients/add" method="POST">
	<label for="">contact_details</label>
	<input type="text" name="contact_details" value="{{contact_details}}">

	<label for="">branch</label>
	<input type="text" name="branch" value="{{branch}}">
	<label for="">address</label>
	<input type="text" name="email_address" value="{{address}}">

	<label for="">email_address</label>
	<input type="text" name="email_address" value="{{email_address}}">

	<label for="">postal_code</label>
	<input type="text" name="postal_code" value="{{postal_code}}">

	<label for="">business_tell</label>
	<input type="text" name="business_tell" value="{{business_tell}}">

	<label for="">business_tell</label>
	<input type="text" name="business_tell" value="{{business_tell}}">

	<label for="">cell</label>
	<input type="text" name="cell" value="{{cell}}">

	<label for="">status</label>
	<input type="text" name="status" value="{{status}}">

	<input type="submit">

</form>