<h1>Edit Client</h1>

<form action="/province/update/{{data.id}}" method="POST">

	<div class="">
		<label for="">contact_details</label>
		<input type="text" name="contact_details" value="{{data.contact_details}}">
	</div>
	<div class="">
		<label for="">branch</label>
		<input type="text" name="branch" value="{{data.branch}}">
	</div>
	<div class="">
		<label for="">email_address</label>
		<input type="text" name="email_address" value="{{data.email_address}}">
	</div>
	<div class="">
		<label for="">postal_code</label>
		<input type="text" name="postal_code" value="{{data.postal_code}}">
	</div>
	<div class="">
		<label for="">business_tell</label>
		<input type="text" name="business_tell" value="{{data.business_tell}}">
	</div>
	<div class="">
		<label for="">cell</label>
		<input type="text" name="cell" value="{{data.cell}}">
	</div>
	<div class="">
		<label for="">status</label>
		<input type="text" name="status" value="{{data.status}}">
	</div>

	<input type="submit">

</form>