<h1>franchises</h1>

<a href="/provinces/add">Add</a>

{{#provinces}}
  <h2>{{contact_details}}</h2>
  <a href="/provinces/edit/{{id}}">Edit</a>
  <a href="/provinces/active/{{id}}">active</a>
  <a href="/provinces/inactive/{{id}}">inactive</a>
  <a href="/provinces/pending/{{id}}">pending</a>
  <a href="/provinces/cancelled/{{id}}">cancelled</a>
  <a href="/provinces/cancelled/{{id}}">delete</a>


{{/provinces}}

{{#no_client}}
  <p>edit clients above.</p>
{{/no_client}}